<div *ngIf="authenticated || !isMyProfile">
    <section class="uui-info-panel-horizontal white" style="float: right; width: 50%; height: 146px;">
        <!--<div class="edit-button">
            <a href="javascript: void(0)">
                <i class="fa fa-pencil"></i>
            </a>
        </div>-->
        <div class="info-panel-body">
            <div class="info-panel-section">
                <table class="user-info-table">
                    <tr>
                        <td width="50%">
                            <label for="gender">Gender</label>
                            <input (focus)="onFocus($event.target.id)" (blur)="onBlur($event.target)" id="gender" type="text" value="{{user.gender}}">
                            <i class="fa fa-pencil gender"></i>
                        </td>
                        <td width="50%">
                            <label for="birth">Birth Date</label>
                                <input (focus)="onFocus($event.target.id)" (blur)="onBlur($event.target)" 
                                    placeholder="mm/dd/yyyy" id="birth" type="text" value="{{user.birth}}">
                            <i class="fa fa-pencil birth"></i>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            <label for="region">Region</label>
                            <input (focus)="onFocus($event.target.id)" (blur)="onBlur($event.target)" id="region" type="text" value="{{user.region}}">
                            <i class="fa fa-pencil region"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <div class="uui-person-horizontal-profile raspberry" style="width: 50%">
        <div class="person-profile-body">
            <div class="person-profile-section">
                <div class="person-profile-photo">
                    <img src="node_modules/uui-framework/images/icons/no_photo.png" alt="" *ngIf="!authenticated" />
                    <img [src]="user.avatar.uri" alt="" *ngIf="authenticated" />
                </div>
                <div class="person-profile-info">
                    <h2 *ngIf="authenticated">{{user.firstName}}</h2>
                    <p>Gomel, Belarus</p>
                </div>
            </div>
        </div>
    </div>

    <div id="vacationsList">
        <h2><a class="active" href="#vacs-active">Active Vacations</a></h2>
        <h2><a href="#vacs-past">Past Vacations</a></h2>
        <h2><a href="#vacs-owned">Owned Vacations</a></h2>

        <div class="vacs-wrapper" id="vacs-active">
            <div class="uui-person-horizontal-profile vacation-short" *ngFor="let vac of activeVacation" routerLink="/vacations/{{vac.id}}">
                <div class="person-profile-body">
                    <div class="person-profile-section">
                        <div class="person-profile-photo">
                            <img [src]="vac.avatar.uri" alt="" />
                        </div>
                        <div class="person-profile-info">
                            <h2>{{vac.title}}</h2>
                            <p>{{vac.beginDate[2]}} {{getMonthName(vac.beginDate[1])}} {{vac.beginDate[0]}} - {{vac.endDate[2]}} {{getMonthName(vac.endDate[1])}} {{vac.endDate[0]}}</p>
                        </div>
                    </div>
                    <section class="uui-info-panel-horizontal additional-info blue">
                        <div class="info-panel-body">
                            <div class="info-panel-section">
                                <div>{{vac.members.length}} prticipants</div>
                                <div>
                                    <!--<i class="fa fa-heart"></i>-->16 people liked</div>
                                <div>{{vac.estimatedCost}}$ estimated cost</div>
                                <div>{{vac.activities.length}} activities</div>
                                <div>4 locations</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="vacs-wrapper" id="vacs-past">
            <div class="uui-person-horizontal-profile vacation-short" *ngFor="let vac of pastVacation" routerLink="/vacations/{{vac.id}}">
                <div class="person-profile-body">
                    <div class="person-profile-section">
                        <div class="person-profile-photo">
                            <img [src]="vac.avatar.uri" alt="" />
                        </div>
                        <div class="person-profile-info">
                            <h2>{{vac.title}}</h2>
                            <p>{{vac.beginDate[2]}} {{getMonthName(vac.beginDate[1])}} {{vac.beginDate[0]}} - {{vac.endDate[2]}} {{getMonthName(vac.endDate[1])}} {{vac.endDate[0]}}</p>
                        </div>
                    </div>
                    <section class="uui-info-panel-horizontal additional-info blue">
                        <div class="info-panel-body">
                            <div class="info-panel-section">
                                <div>{{vac.members.length}} prticipants</div>
                                <div>
                                    <!--<i class="fa fa-heart"></i>-->16 people liked</div>
                                <div>{{vac.estimatedCost}}$ estimated cost</div>
                                <div>{{vac.activities.length}} activities</div>
                                <div>4 locations</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="vacs-wrapper" id="vacs-owned">
            <div class="uui-person-horizontal-profile vacation-short" *ngFor="let vac of ownedVacation" routerLink="/vacations/{{vac.id}}">
                <div class="person-profile-body">
                    <div class="person-profile-section">
                        <div class="person-profile-photo">
                            <img [src]="vac.avatar.uri" alt="" />
                        </div>
                        <div class="person-profile-info">
                            <h2>{{vac.title}}</h2>
                            <p>{{vac.beginDate[2]}} {{getMonthName(vac.beginDate[1])}} {{vac.beginDate[0]}} - {{vac.endDate[2]}} {{getMonthName(vac.endDate[1])}} {{vac.endDate[0]}}</p>
                        </div>
                    </div>
                    <section class="uui-info-panel-horizontal additional-info blue">
                        <div class="info-panel-body">
                            <div class="info-panel-section">
                                <div>{{vac.members.length}} prticipants</div>
                                <div>
                                    <!--<i class="fa fa-heart"></i>-->16 people liked</div>
                                <div>{{vac.estimatedCost}}$ estimated cost</div>
                                <div>{{vac.activities.length}} activities</div>
                                <div>4 locations</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>